.User {
	display: flex;
}

.User .UserProfile {
	width: 30px;
	height: 30px;
	margin: 5px;
}

.Date {
	width: 80%;
	display: grid;
}

.certificationPasing {
	max-width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}

.arrows {
	width: 5%;
}

.arrowL {
	width: 20px;
	height: 30px;
	transform: translateY(400%);
}

.arrowR {
	width: 20px;
	height: 30px;
	transform: translateY(400%);
	float: right;
}

.uploadImg {
	display: flex;
}

.uploadImg .uploadCertification {
	width: 50%;
	margin: 5px;
}

/* 잠시 보류 */
.hindingUpload {
	display: none;
}
