.text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.bodyText {
  height: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
