.uploadCertification {
	border: 2px dotted black;
	borderRadius: 7;
	padding: 2;
	display: flex;
	flexWrap: wrap;
	alignContent: space-between;
	backgroundRepeat: no-repeat;
	backgroundImage: `url(${imgBlob})`;
	maxWidth: 100%;
	height: 300;
	cursor: pointer;
}
