@font-face {
	font-family: "CookieRunBold";
	src: url("../../fonts/CookieRunBold.ttf");
}
.routineDetail {
	max-width:1440px;
	left: 50%;
	margin:0 auto;
}
.summarizedInfo {
	height: 500px;
	background-color:rgb(243, 243, 243);
	font-family: "CookieRunBold";
	border: 2px solid whitesmoke;
	margin: 5px auto;
}

.summarizedInfo .routineBackground {
	width: inherit;
	float: right;
	max-width: 100%;
	max-height: 100%;
	position: relative;
}

.summarizedInfo .summarizedName {
	max-width: 70%;
	transform: translate(10%, 100%);
	font-size: 40px;
	font-weight: bold;
	color: #f79d37;
	position: absolute;
	float: left;
	text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
}

.summarizedInfo .summarizedPlaceAndDate {
	max-width: 800px;
	transform: translate(5%, 200%);
	font-size: 25px;
	font-weight: bold;
	text-indent: 20px;
	float: left;
	position: absolute;
	text-shadow:  -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
}

.summarizedPlaceAndDate .summarizedPlace {
	color: #cc6a01;
}

.summarizedPlaceAndDate .summarizedStartDate {
	color : #cc6a01;
}

.remainedDetail{
	background-color:rgb(243, 243, 243);
	width: 70%;
	float: left;
	margin: 5px auto;
	border: 2px solid whitesmoke;
	margin-bottom: 10px;
}

.summarizedLocationAndCalender {
	font-family: "CookieRunBold";
	color: #cc6a01;
	padding-left: 20px;
	padding-top: 5px;
	height: auto;
	margin-bottom: 10px;
}

.InfoSort {
	padding-top: 13px;
	display: flex;
	flex-wrap: wrap;
}

.iconsSize {
	width: inherit;
	position: static;
	max-width: 100%;
	max-height: 100%;
}

.InfoSort .summarizedCalender{
	min-width: 125px;
	width: 25%;
	height: auto;
	text-align: center;
}

.InfoSort .summarizedLocation {
	min-width: 125px;
	width: 25%;
	height: auto;
	text-align: center;
}

.InfoSort .summarizedParticipants {
	min-width: 125px;
	width: 25%;
	height: auto;
	text-align: center;
}

.InfoSort .routinePrice {
	min-width: 125px;
	width: 25%;
	height: auto;
	position:relative;
	text-align: center;
}


.detailedRoutine {
	height: auto;
}


.routinePrice .Price{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f79d37;
	color : white;
	transition-duration: 0.4s;
	border: 1px solid #c07325;
	border-radius: 30px;
	padding:5px 25px;
	font-size: min(4vw, 15px);
	text-align: center;
	margin: 5px auto;
}

.Price:hover {
	background-color: #c07325;
}

.summarizedCalenderAndParticipants {
	background-color:rgb(243, 243, 243);
	width: 30%;
	height: auto;
	float: left;
	text-align: center;
	font-family: "CookieRunBold";
	margin: 5px auto;
	border: 2px solid whitesmoke;
}

/* .hostProfileAndName {
	display: inline-block;
	width: 80%;
	position: relative;
	border-radius: 16px;
	margin-top : 30px;
	border: 1px solid #c06325;
} */

.hostProfileAndName .hostProfile {
	display: inline-block;
	position: relative;
	margin-top: 8px;
}
.hostProfile .hostName {
	margin-bottom: 8px;
}
.partIn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f76d37;
	color : white;
	transition-duration: 0.4s;
	border: 1px solid #c04325;
	border-radius: 5px;
	padding:5px 10px;
	font-size: min(5vw, 18px);
	text-align: center;
	margin: 5px auto;
	margin-bottom: 10px;
}

.partIn:hover {
	background-color: #c04325;
}

.certification {
	width : 100%;
	float : left;
}
