@font-face {
	font-family: "CookieRunBold";
	src: url("../../fonts/CookieRunBold.ttf");
}

.Container {
	width: 100%;
	display: flex;
	position: relative;
	margin: 0px;
	margin-bottom: 2rem;
}

.Arrow#Left{
	width: min(50px, 5vw);
	height: min(50px, 5vw);
	background-color: rgba(244, 244, 244, 0.299);
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 5px;
	cursor: pointer;
}

.Arrow#Right {
	width: min(50px, 5vw);
	height: min(50px, 5vw);
	background-color: rgba(244, 244, 244, 0.299);
	border-radius: 50%;
	position: absolute;
	float:right;
	top: 50%;
	right: 5px;
	cursor: pointer;
}

.ArrowImage#Right {
	position: absolute;
	transform: translate(30%, 20%);
	width: 70%;
	height: 70%;
}

.ArrowImage#Left {
	position: absolute;
	transform: translate(15%, 20%);
	width: 70%;
	height: 70%;
}


.CertificationDate {
	font-family: "CookieRunBold";
	color: #cc6a01;
	width: 100%;
	height: auto;
	text-align: left;
	margin-left: 1rem;
}

.emptyCertification {
	width:  48vw;
	height: 36vw;
	background-color: grey;
	transform: translatex(5px);
	object-fit: cover;
	margin: 5px;
	text-align: center;
	display: table;
}

.emptyCertification > span {
	font-family: "CookieRunBold";
	font-size: max(3vw, 5px);
	color: whitesmoke;
	display: table-cell;
	vertical-align: middle;
}
.Certification {
	display: flex;
	padding-right: 10px;
}
.FillImage {
	width: 48vw;
	height: 36vw;
	transform: translatex(5px);
	object-fit: cover;
	margin: 5px;
}
