.CertificationTrue {
	background-color: rgba(0, 140, 0, 0.180);
	width: 20vw;
	height: 2.5rem;
	margin: 5px;
	text-align: right;
}

.CertificationFalse {
	background-color: rgba(255, 82, 52, 0.180);
	width: 20vw;
	height: 2.5rem;
	margin: 5px;
	text-align: right;
}

.CheckCertificationBtn {
	width: min(40px, 10vw);
	height: auto;
	transform: translateX(-15px);
}
