.Comment {
	max-width: 866px;
	min-width: 250px;
	width: 60vw;
}

.TextArea {
	padding: 5px 5px 0 0;
	margin-left: 5px !important;
	max-width: 866px;
	min-width: 250px;
	width: 60vw;
}

.Button {
	background-color: #f79d37 !important;
	margin-left: 5px !important;
}

.Edit a {
	color: rgba(255, 115, 0, 0.703) !important;
	transition: color !important;
}

.Edit a:hover {
	color: rgb(255, 115, 0) !important;
}

.Remove a {
	color:rgba(255, 55, 0, 0.703) !important;
	transition: color !important;
}

.Remove a:hover {
	color: rgb(255, 55, 0) !important;
}

.emptyComment {
	margin: 5px;
	color: rgba(100, 100, 100, 0.669);
	cursor: default;
	min-height: 20px;
}
