.statusBox {
	display: inline-block;
	width: 90%;
	position: relative;
	border-radius: 16px;
	margin-top : 30px;
	border: 1px solid #954c1c;
	color:white;
	padding: 5px;
}

.icon {
	width: 3vw;
	height: 4vw;
	margin: 5px;
}

.statusTitle {
	font-size: min(25px, 1.5vw);
}

.remainPeople {
	font-size: min(25px, 1.5vw);
}
