@font-face {
	font-family: "CookieRunBold";
	src: url("../../fonts/CookieRunBold.ttf");
}

.User {
	width: 100%;
	position: relative;
	float: left;
}

.secondRow {
	align-items: center;
}

.ReturnMoney {
	width: auto;
	height: min(50px, 8vw);
	float: left;
	display: flex;
	align-items: center;
	background-color: #000000;
	color : white;
	transition-duration: 0.4s;
	border: 1px solid #404040;
	border-radius: 30px;
	padding:5px;
	margin: 5px auto;
	margin-right: 10px;
	cursor: default;
}

.ReturnMoney:hover {
	background-color: #404040;
}

.ReturnMoney .MoneyImage {
	width: min(40px, 4vmin);
	height: auto;
	padding-right: 5px;
	margin-left: 15px;
}

.ReturnMoney .Money {
	font-family: "CookieRunBold";
	font-size: min(20px, 2.5vw);
	margin-right: 15px;
}

.Date {
	width: 95%;
	display: grid;
}

.certificationPasing {
	max-width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}

.uploadImg {
	display: flex;
}

.hindingUpload {
	display: none;
}

.spread {
	width: auto;
	height: min(60px, 10vw);
	margin-bottom: 10px;
}
