.RoutineInfo {
	font-family: "CookieRunBold";
	color: #cc6a01;
	height: 115px;
    background-color: white;
    margin: 10px;
    padding: 5px;
    box-shadow: 0rem 0.3rem 0.3rem 0rem rgb(0 0 0 / 10%);
    border-radius: 0.7rem;
}

.RoutineInfo .title {
	margin: 1px 5px 6px;
}

.Icons {
	display: flex;
    justify-content: space-between;
}