.summarizedInfo {
	max-height: 500px;
	height: 60vw;
	font-family: "CookieRunBold";
	margin: 5px auto;
}

.routineBackground {
	width: inherit;
	float: right;
	max-width: 100%;
	max-height: 100%;
	position: relative;
}

.summarizedName {
	max-width: 70%;
	transform: translate(10%, min(150px, 8vw));
	font-size: min(60px, 4vw);
	font-weight: bold;
	line-height: 100%;
	color: #f79d37;
	position: absolute;
	text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
}

.summarizedPlaceAndDate {
	max-width: 70%;
	transform: translate(10%, max(150px, 10vw));
	line-height: 150%;
	font-size: max(20px, 1.2vw);
	font-weight: bold;
	text-indent: 20px;
	position: absolute;
	text-shadow:  -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
}

.summarizedPlaceAndDate .summarizedPlace {
	color: #cc6a01;
}

.summarizedPlaceAndDate .summarizedStartDate {
	color : #cc6a01;
}
