@font-face {
	font-family: "CookieRunBold";
	src: url("../../fonts/CookieRunBold.ttf");
}
.routineDetail {
	max-width:1440px;
	left: 50%;
	margin:0 auto;
}

.remainedDetail{
	width: 70%;
	float: left;
	margin: 5px auto;
	margin-bottom: 10px;
}

.summarizedLocationAndCalender {
	font-family: "CookieRunBold";
	color: #cc6a01;
	padding-left: 20px;
	padding-top: 5px;
	height: auto;
	margin-bottom: 10px;
}

.InfoSort {
	padding-top: 13px;
	display: flex;
	flex-wrap: wrap;
}

.iconsSize {
	width: 4.5vw;
	position: static;
	min-width: 40px;
}

.InfoSort .summarizedCalender{
	min-width: 125px;
	width: 25%;
	height: auto;
	text-align: center;
}

.InfoSort .summarizedLocation {
	min-width: 125px;
	width: 25%;
	height: auto;
	text-align: center;
}

.InfoSort .summarizedParticipants {
	min-width: 125px;
	width: 25%;
	height: auto;
	text-align: center;
}

.InfoSort .routinePrice {
	min-width: 125px;
	width: 25%;
	height: auto;
	position:relative;
	text-align: center;
}


.detailedRoutine {
	height: auto;
}

.routinePrice .Price{
	font-family: "CookieRunBold";
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f79d37;
	color : white;
	transition-duration: 0.4s;
	border: 1px solid #c07325;
	border-radius: 30px;
	padding:5px 25px;
	font-size: min(4vw, 15px);
	text-align: center;
	margin: 5px auto;
	cursor: default;
}

.Price:hover {
	background-color: #c07325;
}

.summarizedCalenderAndParticipants {
	width: 30%;
	height: auto;
	float: left;
	text-align: center;
	font-family: "CookieRunBold";
	margin: 5px auto;
}

.hostProfileAndName {
	display: inline-block;
	width: 80%;
	position: relative;
	border-radius: 16px;
	margin-top : 30px;
	border: 1px solid #c06325;
	margin-bottom: 20px;
}

.hostProfileAndName p {
	color:#cc6a01;
	margin-top: 5px;
}

/* .hostProfileAndName .hostProfile {
	display: inline-block;
	position: relative;
	margin-top: 8px;
}
.hostProfile .hostName {
	margin-bottom: 8px;
} */
.partIn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f76d37;
	color : white;
	transition-duration: 0.4s;
	border: 1px solid #c04325;
	border-radius: 5px;
	padding:5px 10px;
	font-size: min(5vw, 18px);
	text-align: center;
	margin: 5px auto;
	margin-bottom: 10px;
}

.partIn:hover {
	background-color: #c04325;
}

.comments {
	width: 100%;
	display: table;
}
